# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Vercel
.vercel/

# OS-specific files
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Build directories
dist/
build/

package-lock.json